{% extends '_layout.html' %}

{% block content %}
    <div class="container-fluid">
        <table class="table table-striped mt-10">
            <thead class="table-dark">
            <tr>
                <td>Title</td>
                <td>Date</td>
                <td>Content</td>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>  {{ post.date }}</td>
                    {#                <td>  {{ post.pic }}</td>#}
                    <td> {{ post.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

