{% extends '_layout.html' %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row mt-5">
                <h2 class="h2 text-center">Manage Posts</h2>
            </div>
            <div class="row align-items-end mt-5">
                <div class="col-md-3">
                    <a class="btn btn-primary" href="{% url 'admin_add_post' %}">Add Post</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col mx-auto">
                    <div class="card p-1">
                        <table class="table table-striped align-middle">
                            <thead class="table-dark">
                            <tr>
                                <td class="col col-md-8">Title</td>
                                <td >Category</td>
                                <td colspan="2" >Actions</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if posts %}
                                {% for post in posts %}
                                    <tr>
                                        <td class="col col-md-9">{{ post.title}}</td>
                                        <td class="col col-md-9">{{ post.category}}</td>
                                        <td>
                                            <form method="post" action="{% url 'admin_delete_post' post.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="p_id" value="{{ post.id }}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" href="{% url 'admin-edit-post' post.id %}">
                                                Edit
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}