{% extends '_layout.html' %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <section id="showcase-inner" class="py-5 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">{{ post.title }}</h1>
                    <p class="lead">
                        <i class="fas fa-clock"></i> {{ post.date }}</p>

                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Posts</a>
                    </li>
                    <li class="breadcrumb-item active">{{ post.title }}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listing -->
    <section id="listing" class="py-4">
        <div class="container">
            <a href="{% url 'index' %}" class="btn btn-light mb-4">Back To Timeline</a>
            <div class="row">
                <div class="col-md-9">
                    <!-- Home Main Image -->
                    <img src="{{ post.pic.url }}" alt="" class="img-main img-fluid mb-3" style="max-height: 600px">
                    <!-- Description -->
                </div>
                <div class="col-md-3">

                    <div class="card-body">
                            <h5 class="card-title"> {{ post.likes }} like</h5>
                            <h5>{{ post.dislikes }} dislikes</h5>
                            <h6 class="text-secondary">{{ post.date }}</h6>
                        </div>
                    <div class="card mb-3">

                    </div>
                    <div class="row">
                        <div class="col">


                            <form method="post" action="{% url 'like' %}">
                                {% csrf_token %}
                                <input name="p_id" hidden value="{{ post.id }}">
                                <button class="btn-success btn-block btn-lg" type="submit">Like</button>
                            </form>
                            <form method="post" action="{% url 'dislikes' %}">
                                {% csrf_token %}
                                <input name="p_id" hidden value="{{ post.id }}">

                            </form>

                        </div>
                        <div class="col">
                            <form method="post" action="{% url 'dislikes' %}">
                                {% csrf_token %}
                                <input name="p_id" hidden value="{{ post.id }}">
                                <button class="btn-danger btn-block btn-lg" type="submit">Dislike</button>
                            </form>
 {% if post.category.id != 6  %}
                                 <h1>{{  post.category }}</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <div class="card">
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col-md-12">
                        {{ post.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <div class="card mb-2" style="border:none">
            <div class="card-body">
                <section class="container mt-4">
                    <form method="post" action="{% url 'comment' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment"
                      style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Comments</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <input name="p_id" hidden value="{{ post.id }}">
                                <button class="btn-primary btn-lg" type="submit">Share
                                </button>
                            </div>
                        </div>
                    </form>
                </section>
                <section class="container mt-2">
                    <div class="card">
                        <div class="card-body">
                            {% if comments %}
                                {% for comment in comments %}
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="row">
                                                <h6 class="mr-0">{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                                            </div>
                                            <div class="row">
                                                <h6 class="mr-0">{{ comment.created_on }}</h6>
                                            </div>
                                            <div class="row">
                                                <p>{{ comment.content }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </section>
{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#<h1> Post Title: {{ post.title }}</h1>#}
{#<h1> Date: {{ post.date }}</h1>#}
{#<h1> img:<img src="../../media/{{ post.pic }}"  width=200px height = 200px/> </h1>#}
{#<h1> Content: {{ post.content }}</h1>#}
{#<h1> Category: {{ post.category }}</h1>#}
{#<h1> Likes: {{ post.likes }}</h1>#}
{#<h1> Dislikes: {{ post.dislikes }}</h1>#}
{##}
{#<form method="post" action="{% url 'like' %}" >#}
{#    {% csrf_token %}#}
{#   <input name="p_id" hidden value="{{ post.id }}">#}
{#    <button type="submit">Like</button>#}
{#</form>#}
{##}
{#<form method="post" action="{% url 'dislikes'%}">#}
{#    {% csrf_token %}#}
{#   <input name="p_id" hidden value="{{ post.id }}">#}
{#    <button type="submit">Dislike</button>#}
{#</form>#}
{##}
{##}
{#{% if comments %}#}
{#    {% for comment in comments %}#}
{#        <h3> {{ comment.content }}</h3>#}
{#    {% endfor %}#}
{#{% endif %}#}
{#<form method="post" action="{% url 'comment' %}" > {% csrf_token %}#}
{#    <input name="comment" type="text"/>#}
{#    <input name="p_id" hidden value="{{ post.id }}">#}
{#    <button type="submit">Comment</button>#}
{#</form>#}
{##}
{##}
{##}
{#</body>#}
{#</html>#}