{% extends '_layout.html' %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row mt-5 ">
                <h2 class="h2 text-center">Manage Users</h2>
            </div>
            <div class="row align-items-end mt-5">
                <div class="col-md-3">
                    <a class="btn btn-primary" href="{% url 'admin_create_user' %}">Add User</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col mx-auto">
                    <div class="card p-1">
                        <table class="table table-striped">
                            <thead class="table-dark">
                            <tr>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Username</td>
                                <td>Is Admin</td>
                                <td>Is Active</td>
                                <td colspan="3">Actions</td>
                                {#                                <td>Email</td>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% if users %}
                                {% for usr in users %}
                                    {#                                    {% if usr.id != user.id %}#}
                                    <tr>
                                        <td>{{ usr.first_name }}</td>
                                        <td>{{ usr.last_name }}</td>
                                        <td>{{ usr.username }}</td>
                                        <td>{{ usr.is_superuser }}</td>
                                        <td>{{ usr.is_active }}</td>
                                        {% if not usr.is_superuser %}
                                            {% if usr.is_active %}
                                                <td>
                                                    <button class="btn btn-danger">Block</button>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <button class="btn btn-success">Block</button>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>
                                            <a class="btn btn-warning" href="{% url 'admin_edit_user' usr.id %}">
                                                Edit
                                            </a>
                                        </td>
                                        {#                                        <td>{{ usr.email }}</td>#}
                                    </tr>
                                    {#                                    {% endif %}#}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}