{% extends '_layout.html' %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row mt-5">
                <h2 class="h2 text-center">Manage Users</h2>
            </div>
            <div class="row align-items-end mt-5">
                <div class="col-md-3">
                    <a class="btn btn-primary" href="{% url 'admin_create_user' %}">Add User</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col mx-auto">
                    <div class="card p-1">
                        <table class="table table-striped">
                            <thead class="table-dark">
                            <tr>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Username</td>
                                <td>Is Admin</td>
                                <td>Is Active</td>
                                <td colspan="3">Actions</td>
                                {#                                <td>Email</td>#}
                            </tr>
                            </thead>
                            <tbody>
                            {% if users %}
                                {% for usr in users %}
                                    {#                                    {% if usr.id != user.id %}#}
                                    <tr>
                                        <td>{{ usr.first_name }}</td>
                                        <td>{{ usr.last_name }}</td>
                                        <td>{{ usr.username }}</td>
                                        <td>{{ usr.is_superuser }}</td>
                                        <td>{{ usr.is_active }}</td>
                                        {% if not usr.is_superuser %}
                                            {% if usr.is_active %}
                                                <td>
                                                    <form method="post" action="{% url 'admin_block_unblock_user' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="u_id" value="{{ usr.id }}">
                                                        <button type="submit" class="btn btn-danger">Block</button>
                                                    </form>
                                                </td>
                                            {% else %}
                                                <td>
                                                    <form method="post" action="{% url 'admin_block_unblock_user' %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="u_id" value="{{ usr.id }}">
                                                        <button type="submit" class="btn btn-success">Unblock</button>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>
                                            <a class="btn btn-warning" href="{% url 'admin_edit_user' usr.id %}">
                                                Edit
                                            </a>
                                        </td>
                                        {#                                        <td>{{ usr.email }}</td>#}
                                    </tr>
                                    {#                                    {% endif %}#}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if users.has_other_pages %}
                        <ul class="pagination">
                            {% if users.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ users.previous_page_number }}" class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}

                            {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if users.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ users.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>

                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}