{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar-collapse bg-bar">
    <div class="nav-container container container-fluid">
        <a class="navbar-brand logo" href="{% url 'index' %}">Not Blog</a>
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-pills">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-house" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd"
                                  d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <form class="d-flex" method="GET" action="{% url 'search' %}">
                        <input class="form-control me-2" type="search" aria-label="Search" name="searched"
                               placeholder="Enter post title or category">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="d-flex" style="margin: 5px;">
            {% if user.is_authenticated %}
                <a class="btn btn-outline-danger me-2" href="{% url 'logout' %}">Logout</a>
                {% if user.is_superuser %}
                    <a class="btn btn-outline-info me-2{% if 'manage_blog' in request.path %}
                     active
                     {% endif %}" href="{% url 'admin_users_list' %}">Manage</a>
                {% endif %}
            {% else %}

                <a class="btn btn-outline-success me-2
                    {% if 'login' in request.path %}
                     active
                     {% endif %}" href="{% url 'login' %}">Login </a>

                <a class="btn btn-outline-info me-2
                    {% if 'register' in request.path %}
                    active
                {% endif %}" href="{% url 'register' %}">Signup</a>
            {% endif %}
        </div>
    </div>
</nav>


{#<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">#}
{#    <div class="container">#}
{#        <a class="navbar-brand" href="#">#}
{#            <img src="{% static 'img/logo.png' %}" class="logo" alt="">#}
{#        </a>#}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">#}
{#            <ul class="navbar-nav">#}
{##}
{#                <li {% if '/' == request.path %}#}
{#                    class="nav-item active mr-3"#}
{#                {% else %}#}
{#                    class="nav-item mr-3"#}
{#                {% endif %}#}
{#                >#}
{#                    <a class="nav-link" href="#">Home</a>#}
{#                </li>#}
{##}
{#                <li {% if 'about' in request.path %}#}
{#                    class="nav-item active mr-3"#}
{#                {% else %}#}
{#                    class="nav-item mr-3"#}
{#                {% endif %}#}
{#                >#}
{#                    <a class="nav-link" href="#">About</a>#}
{#                </li>#}
{##}
{#                <li {% if 'listings' in request.path %}#}
{#                    class="nav-item active mr-3"#}
{#                {% else %}#}
{#                    class="nav-item mr-3"#}
{#                {% endif %}#}
{#                >#}
{#                    <a class="nav-link" href="#">Featured Listings</a>#}
{#                </li>#}
{#            </ul>#}
{##}
{#            <ul class="navbar-nav ml-auto">#}
{#                if logged in#}
{#                {% if user.is_authenticated %}#}
{##}
{#                    <li {% if 'dashboard' in request.path %}#}
{#                        class="nav-item active mr-3"#}
{#                    {% else %}#}
{#                        class="nav-item mr-3"#}
{#                    {% endif %}#}
{#                    >#}
{#                        <a class="nav-link" href="#">#}
{#                            Welcome {{ user.username }} (Dashboard)</a>#}
{#                    </li>#}
{##}
{#                    <li class="nav-item mr-3">#}
{#                        <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">#}
{#                            <i class="fas fa-sign-out-alt"></i> Logout#}
{#                        </a>#}
{#                        <form action="{% url 'logout' %}" method="POST" id="logout">#}
{#                            {% csrf_token %}#}
{#                            <input type="hidden">#}
{#                        </form>#}
{#                    </li>#}
{##}
{#                {% else %}#}
{#                    <li {% if 'register' in request.path %}#}
{#                        class="nav-item active mr-3"#}
{#                    {% else %}#}
{#                        class="nav-item mr-3"#}
{#                    {% endif %}>#}
{#                        <a class="nav-link" href="{% url 'register' %}">#}
{#                            <i class="fas fa-user-plus"></i> Register</a>#}
{#                    </li>#}
{##}
{#                    <li {% if 'login' in request.path %}#}
{#                        class="nav-item active mr-3"#}
{#                    {% else %}#}
{#                        class="nav-item mr-3"#}
{#                    {% endif %}#}
{#                    >#}
{#                        <a class="nav-link" href="{% url 'login' %}">#}
{#                            <i class="fas fa-sign-in-alt"></i>#}
{##}
{#                            Login</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}