{% extends '_layout.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center imglogin">
                                    <span class="logo">Not Blog</span>
                                    <!-- image/logo source -->
                                </div>

                                <form method="post" action="{% url 'register' %}">
                                    {% csrf_token %}
                                    {% include 'partials/_alerts.html' %}
                                    <div class="form-group form-login">
                                        <input
                                                type="text"
                                                class="form-control inputlogin"
                                                placeholder="First Name"
                                                name="first_name"
                                                required
                                        />
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="text"
                                                class="form-control inputlogin"
                                                placeholder="Last Name"
                                                name="last_name"
                                                required
                                        />
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="text"
                                                class="form-control inputlogin"
                                                placeholder="Username"
                                                name="username"
                                                required
                                        />
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="email"
                                                class="form-control inputlogin"
                                                aria-describedby="emailHelp"
                                                placeholder="Email address"
                                                name="email"
                                                required
                                        />
                                    </div>
                                    <div class="form-group form-login">
                                        <select type="text" name="phone_number" class="form-control inputlogin">
                                            <option selected value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="text" class="form-control inputlogin" placeholder="Phone Number"
                                                name="phone_number" required/>
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="password"
                                                class="form-control inputlogin"
                                                placeholder="Password"
                                                name="password"
                                                required
                                        />
                                    </div>
                                    <div class="form-group form-login">
                                        <input
                                                type="password"
                                                class="form-control inputlogin"
                                                placeholder="Confirm Password"
                                                name="confirmPassword"
                                                required
                                        />
                                    </div>

                                    <button type="submit" class="btn btn-login">Sign up</button>
                                    <div class="forget text-right">
                                        <a style="float: right" href="{% url 'login' %}"> Log in </a>
                                        <section style="color: #bbbaba; float: right">
                                            Have an account? &nbsp;
                                        </section>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


