{% extends '_layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <section id="login" class="bg-light py-5" style="min-height: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center imglogin">
                                    <span class="logo">Not Blog</span>
                                    <!-- image source above -->
                                </div>
                                <form method="post" action="{% url 'request-rest-password' %}">
                                    {% csrf_token %}
                                    {% include 'partials/_alerts.html' %}
                                    <div class="form-group form-login">
                                        <input type="text" class="form-control inputlogin"
                                               placeholder="Email" name="email" required/>
                                    </div>
                                    <button type="submit" class="btn btn-login">Send Request</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <section id="login" class="bg-light py-5">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-md-6 mx-auto">#}
    {#                    <div class="card">#}
    {#                        <div class="card-header bg-primary text-white">#}
    {#                            <h4>#}
    {#                                <i class="fas fa-sign-in-alt"></i> Request Reset Password</h4>#}
    {#                        </div>#}
    {#                        <div class="card-body">#}
    {# Alerts #}
    {#                            {% include 'partials/_alerts.html' %}#}
    {#                            <form action="{% url 'request-rest-password' %}" method="POST">#}
    {#                                {% csrf_token %}#}
    {#                                <div class="form-group">#}
    {#                                    <label for="email">Email</label>#}
    {#                                    <input type="text" name="email" class="form-control" id="email" required>#}
    {#                                </div>#}
    {##}
    {#                                <input type="submit" value="Request" class="btn btn-secondary btn-block">#}
    {#                            </form>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}