{% extends '_layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> Request Reset Password</h4>
                        </div>
                        <div class="card-body">
                            {# Alerts #}
                            {% include 'partials/_alerts.html' %}
                            <form action="{% url 'request-rest-password' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" class="form-control" id="email" required>
                                </div>

                                <input type="submit" value="Request" class="btn btn-secondary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}