{% extends '_layout.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <section id="login" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> Set New Password</h4>
                        </div>
                        <div class="card-body">
                            {# Alerts #}
                            {% include 'partials/_alerts.html' %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control" id="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input class="form-control" type="password" name="confirm_password"
                                           id="confirm_password" required>
                                </div>

                                <input type="submit" value="Save" class="btn btn-secondary btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}