{% load static %}
<html lang="en">
<head>
    <title>Not Blog | {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="/templates/staticfiles/img/blog.ico" type="image/x-icon"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Nav -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!-- Modal -->
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body style="min-height: 100%;">

<!-- Navbar -->
{% include 'partials/_navbar.html' %}
<div style="min-height: 93.1%; background-color: #EEEEEE" class="container-fluid p-0">
    <div class="row m-0">
        {% if 'account' not in request.path %}
            <div class="col-lg-2 position-fixed p-0" style="height: 100%; min-width: 280px" id="sticky-sidebar">
                {#                {% include 'partials/_sidebar.html' %}#}
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white align-items-center bg-bar"
                     style="width: 320px; height: 100%; text-align: center;">
                    {% if 'manage_blog' in request.path %}
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item">
                                <a href="{% url 'admin_users_list' %}"
                                   class="nav-link {% if 'user' in request.path %} active {% endif %}"
                                   aria-current="page">

                                    Users
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'admin-posts' %}"
                                   class="nav-link text-white {% if 'post' in request.path %} active {% endif %}">

                                    Posts
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'admin_categories-list' %}"
                                   class="nav-link text-white {% if 'categor' in request.path %} active {% endif %}">
                                    Categories
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'admin_blocked_words' %}"
                                   class="nav-link text-white {% if 'word' in request.path %} active {% endif %}">
                                    Forbidden Words
                                </a>
                            </li>
                        </ul>
                        <hr/>
                    {% else %}
                        <ul class="nav nav-pills flex-column mb-auto">
                            {#Listing Categories#}
                            <span class="fs-4 border-start-0"
                                  style="border: #ffffff; border-radius: 20px;">Categories</span>
                            <hr class="dropdown-divider" style="margin-bottom: 35px">

                            {% for cat in unsubbed_cat %}
                                {% if cat.id != 6 %}
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col">
                                                <form method="GET" action="{% url 'search' %}"
                                                >
                                                    <button class="btn btn-primary" data-bs-toggle="tooltip"
                                                            data-bs-placement="right"
                                                            title="Press to get all posts from this category"
                                                            role="button" type="submit" id="liveToastBtn"
                                                            style="min-width: 125px; float: left">
                                                        {{ cat.category }} </button>
                                                    <input type="hidden" name="searched" value="{{ cat.category }}">
                                                </form>

                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="col col-md-5">
                                                    <form method="POST" action="{% url 'sub_category' cat.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger" data-bs-toggle="tooltip"
                                                                data-bs-placement="right"
                                                                title="Press to sub to this category"
                                                                role="button" type="submit"
                                                                style="min-width: 60px; float: right">
                                                            Subscribe
                                                        </button>
                                                    </form>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if subbed_cat %}
                                <hr class="dropdown-divider">

                                {% for cat in subbed_cat %}
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col">
                                                <form method="GET" action="{% url 'search' %}">
                                                    <button class="btn btn-primary" data-bs-toggle="tooltip"
                                                            data-bs-placement="right"
                                                            title="Press to get all posts from this category"
                                                            role="button" type="submit" id="liveToastBtn"
                                                            style="min-width: 125px; float: left">
                                                        {{ cat.category }} </button>
                                                    <input type="hidden" name="searched" value="{{ cat.category }}">
                                                </form>

                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="col col-md-5">
                                                    <form method="POST" action="{% url 'unsub_category' cat.id %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-secondary" data-bs-toggle="tooltip"
                                                                data-bs-placement="right"
                                                                title="Press to sub to this category"
                                                                role="button" type="submit"
                                                                style="min-width: 60px; float: right">
                                                            Unsubscribe
                                                        </button>
                                                    </form>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}

                        </ul>
                        <hr/>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="col p-0" {% if 'account' not in request.path %} style="margin-left: 295px;"  {% endif %}>
            <!-- Base content -->
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="{% static 'js/alerts.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>